@model DeleteCarViewModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure that you want to delete your car: @Model.Car?</h2>

<a asp-controller="Cars" asp-action="ConfirmDelete" asp-route-id="@Model.Id" class="btn btn-danger">YES!</a>
<a asp-controller="Cars" asp-action="All" class="btn btn-default">No</a>